<%= javascript_pack_tag 'WonderFunctions' %>

<% if flash[:notice] %>
    <div class="alert alert-success" role="alert">
        <%= flash[:notice] %>
    </div>
<% end %>
<% if flash[:danger] %>
    <div class="alert alert-danger" role="alert">
        <%= flash[:danger] %>
    </div>
<% end %>

<%= form_tag grava_troca_departamento_path, :method => 'get' do %>
    
    <%=hidden_field_tag 'id_novo_depto', "" %> 
    <%=hidden_field_tag 'nome_novo_depto', "" %> 
    <%=hidden_field_tag 'nome_atual_depto', @departamento.nome %> 
    <%=hidden_field_tag 'id_atual_depto', @departamento.id %> 
    <!-- Campo oculto para envio do id do novo departamento. Este campo é preenchido no onChange do selec.
         Equivalente a:  <input type="hidden" name="id_novo_depto" id="id_novo_depto" value="" autocomplete="off" /> 
    -->

    <div class="container">
        <h1 class="text-center">Alterar Departamento nos Insumos</h1>

        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <h2> <span class="label label-default">Departamento Atual: </span></h2>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <h2> <span class="label label-info">
                        <%=@departamento.nome%>
                    </span></h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <h2><span class = "label label-default">Novo Departamento: </span></h2>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <h2>
                        <select class="label label-info" id="id_dep_sel" onChange="Atrib_id_dep_sel()">
                            <option value=0 selected>Selecione um departamento ...</option>
                            <%@select_departamentos.each do |depto| %>
                                <option class="text-left" value=<%=depto.id%>> <%=depto.nome%></option>
                            <%end%>    
                            
                        </select>
                    </h2>
                </div>
            </div>
        </div>    
    </div>    

    <h5 class="text-left">Selecione os Insumos para a alteração do Departamento</h5>
    <table class="table table-bordered table hover">
        <thead>
            <tr>
                <td>Selecionar</td>
                <td>Código</td>
                <td>Descrição</td>
                <td>Departamento</td>
                <td>Preço</td>
                <td>Quantidade</td>
            </tr>
        </thead>
        <body>
            <!-- <%= render @troca_depto_insumos, ExibirBotoes: false%> -->
            <%@troca_depto_insumos.each do |insumo| %>
                <tr>
                    <!-- <td><%= check_box_tag "insumos_selec[#{insumo.id}]", insumo.id, :name => "insumos_selec[]" %></td> -->
                    <!-- Utilizar se for preciso passar chave/valor Ex.: {"4"=>"4", "20"=>"20"} -->

                    <!-- Envia através de params um array simples dos ids dos insumos selecionados -->
                    <td><%= check_box_tag "insumos_selec[]", insumo.id, checked=true %></td>
                    <td><%=insumo.codigo%></td>
                    <td><%=insumo.descricao%></td>
                    <td><%=insumo.departamento.nome%></td>
                    <td><%=insumo.preco%></td>
                    <td><%=insumo.quantidade%></td>
                </tr>
            <% end %>                
        </body>
    </table>

    <div class="row">
        <div class="col-sm-1">
            <%= link_to "Retornar", departamentos_path,  class:"btn btn-primary" %>  
        </div>
        <div class="col-sm-1">
            <%= submit_tag "Trocar Departamento", class: "btn btn-primary", :onclick => "return ConfirmaTroca();" %>
        </div>
    </div>    
<% end %>    

<script type="text/javascript">
    function Atrib_id_dep_sel() {
        document.getElementById('id_novo_depto').value = GetValueSelect(document.getElementById('id_dep_sel'));
        document.getElementById('nome_novo_depto').value = GetTextSelect(document.getElementById('id_dep_sel'));
    }
    function ConfirmaTroca() {
        if (document.getElementById('id_novo_depto').value == '')  {
            alert("Novo Departamento precisa ser informado (1) !!");
            return false;
        } 
        if (document.getElementById('id_novo_depto').value == 0) {
            alert("Novo Departamento precisa ser informado (2) !!");
            return false;
        }
        if (document.getElementById('id_novo_depto').value == document.getElementById('id_atual_depto').value) {
            alert("Novo departamento precisa ser diferente do departamento atual !!");
            return false;
        }
        if (document.querySelectorAll('input:checked').length === 0)  {     /*Problema na validação se houver mais checks fora do grid*/
            alert("Ao menos um Insumo deve ser selecionado !");
            return false;
        }
        var confirmacao = confirm("Deseja substituir o departamento "+document.getElementById('nome_atual_depto').value
                        +" pelo departamento "+document.getElementById('nome_novo_depto').value+" para os insumos selecionados ?");
        if (confirmacao == true) {
            confirmacao = confirm("A T E N Ç Ã O !!! \n\n Deseja realmente substituir o departamento "+document.getElementById('nome_atual_depto').value
                        +" pelo departamento "+document.getElementById('nome_novo_depto').value+" para os insumos selecionados ?");
            if (confirmacao == true) {            
              return true
            }  
            else{
                alert("Troca de departamento cancelada !");
                return false
            }        
        }
        else{
            alert("Troca de departamento cancelada !");
            return false
        }        
    }    
</script>