<!DOCTYPE html>
<html>
  <head>
    <title>Insumos</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <!-- <%= image_tag("LogWonder.png",  class: "img-responsive img-thumbnail rounded float-left") %> -->
    <%= nav_bar brand: "Insumos para Cereais", brand_link: root_url do %>
      <%= menu_group do %>
        <%= menu_item "Criar Novo Insumo", new_insumo_path %>
      <% end %>
      <%= menu_group do %>
        <%= menu_item "Departamentos", departamentos_path %>
      <% end %>
      <%= form_tag busca_insumo_path, method: :get, class:"navbar-form navbar-right" do %>
        <div class="forms-group" >
          <%= text_field_tag :descricao, @descricao, class:"form-control"%>
          <%= button_to "Buscar", nil, class:"btn btn-default" %>
        </div>
      <% end %>  
    <% end %> 
    <div class="container">
      <%= yield %>
    </div>  
  </body>

  <footer class="bg-light text-center text-lg-start">
    <div class="text-center p-3" > 
      © 2022 Copyright: SLP 
      <!-- <a class="text-dark" href="https://site.wonder.com.br//">wonder.com.br</a> -->
    </div>
  </footer>    

</html>
